.step-3
  &__title
    margin-top: 60px
    +r(767)
      padding: 0 5px
      margin-top: 40px
    h1
      font-size: 18px
      font-weight: 500
      letter-spacing: 1.8px
      color: $black
      text-align: center
      margin-bottom: 25px
      text-transform: uppercase
      +r(767)
        font-size: 14px
        text-transform: none
        letter-spacing: normal
        margin-bottom: 15px
    p
      font-size: 14px
      color: $black
      text-align: center
      line-height: 1.7
      +r(767)
        font-size: 13px
  &__content
    margin-top: 45px
  &__block
    // background-image: url('../img/step-3.png')
    // background-repeat: no-repeat
    width: 510px
    padding: 50px 55px
    // box-shadow: 0 20px 43px 0 rgba(230, 233, 240, 0.62)
    position: relative
    left: 50%
    transform: translate(-50%)
    margin-bottom: 105px
    +r(550)
      padding: 10px
      width: 100%
      margin-bottom: 45px
      &__content
        padding: 20px
    svg
      position: absolute
      top: calc(50% + 20px)
      left: 50%
      transform: translate(-50%, -50%)
      z-index: -1
    h2
      font-size: 14px
      font-weight: 500
      text-align: center
      color: $black
      position: relative
      margin-bottom: 35px
      &:before, &:after
        content: ''
        height: 1px
        position: absolute
        left: 50%
        bottom: -10px
        transform: translate(-50%)
      &:before
        width: 130px
        background: $silver
      &:after
        height: 2px
        background: $pale-rose
        width: 70px
        bottom: -10.5px
        border-radius: 3px
    table
      margin-bottom: 20px
    tr
      border-bottom: 1px solid $silver
      +r(767)
        display: flex
        flex-direction: column
        align-items: flex-start
      &:last-child
        border-bottom: none
        +r(767)
          display: block
      td, th
        font-size: 14px
        color: $black
        max-width: 217px
        padding: 15px 0
        font-weight: 400
        float: left
        +r(767)
          padding: 10px 0
        &:last-child
          font-size: 20px
          font-weight: 500
          float: right
          +r(550)
            text-align: right
      th
        color: $pale-rose
        font-weight: 500
        font-size: 18px
        +r(767)
          padding: 20px 0
    p, a, span
      font-size: 14px
      font-weight: normal
      color: $steel
      line-height: 1.8
      +r(767)
        line-height: 1
    span, a
      +r(767)
        color: $black
    &__contacts
      padding-bottom: 20px
      +r(767)
        padding-bottom: 0
        .row
          margin-bottom: 20px
  .aside
    height: 260px
    background: #E9EBF2
    margin-top: 10px
    +r(767)
      margin-top: 0
      margin-bottom: 40px