---
title: Все страницы
---
extends layouts/_layout
block content
  .pages
    ul
      li
        a(href="index.html") Главная страница
      li
        a(href="step-2.html") Шаг 2
      li
        a(href="step-3.html") Шаг 3


