---
title: Оформление заказа. Шаг 1
---
extends layouts/_layout
block content
  .step-1
    .container
      h2 Оформление заказа. Шаг 1.
      h3 Выберите тариф: 
      .step-1__content
        .step-1__block
          .i
            i.icon.icon-i
          .step-1__block__details.details
            p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
          .step-1__block__header
            h4 1 месяц
            .step-1__block__header__content
              i.icon.icon-bouquet
              p 4 доставки букета до двери
          .step-1__block__footer
            p Цена за месяц:
            span 8 500₽
            a(href="step-2.html").btn.btn--secondary Выбрать
        .step-1__block
          .i
            i.icon.icon-i
          .step-1__block__details.details
            p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
          .step-1__block__header
            h4 3 месяца
            .step-1__block__header__content
              i.icon.icon-bouquet
              p 12 доставок букета до двери
          .step-1__block__footer
            p Цена за 3 месяца:
            span 24 000₽
            b
              | Старая цена: 
              s 25 500₽
            a(href="step-2.html").btn.btn--secondary Выбрать
        .step-1__block.step-1__block--present
          .i
            i.icon.icon-i
          .step-1__block__details.details
            p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
          h4 Подарочный сертификат
          .step-1__block__header__content
            i.icon.icon-present
            p Выберите <br>время действия:
          .step-1__block__select
            select
              option(value="1") 1 месяц
              option(value="2") 3 месяца
          span 24 000₽
          a(href="step-2.html").btn.btn--secondary Выбрать
      