footer.footer
  .container.container-two
    .footer__content
      .row.middle-xs
        .col-sm-4.col-xs-6
          p © 2018 life4soul_flowers
        .col-sm-4.center-xs.hidden-xs
          a(href="#") Политика конфиденциальности
        .col-sm-4.col-xs-6.end-xs
          p.hidden-xs Разработанно в EXCV
          a(href="#").hidden-sm.hidden-md
            img(src="img/excv.png", alt="")