footer.footer
  .container.container-two
    .footer__content
      .row.middle-xs
        .col-xs-4
          p © 2018 life4soul_flowers
        .col-xs-4.center-xs
          a(href="#") Политика конфиденциальности
        .col-xs-4.end-xs
          p Разработанно в EXCV