//BEGIN header
header.header
  .container.container-two
    .row.middle-xs
      .col-xs-4.hidden-xs
        .header__social
          ul
            li
              a(href="#")
                i.icon.icon-instagram
            li
              a(href="#")
                i.icon.icon-vk
            li
              a(href="#")
                i.icon.icon-fb
      .col-sm-4.col-xs-12.center-xs
         a(href="index.html").header__logo
          img(src="img/Logo.svg", alt="")
      .col-xs-4.end-xs.hidden-xs
        .header__phone
          a(href="tel:88001330292") 8 800 133 02 92
          a(href="#call-order" rel="modal:open").btn.btn--primary Обратная связь
    a(href="#call-order" rel="modal:open").menu-open.hidden-sm.hidden-md
      span
//END header
