//BEGIN header
header.header
  .container.container-two
    .row.middle-xs
      .col-xs-4
        .header__social
          ul
            li
              a(href="#")
                i.icon.icon-instagram
            li
              a(href="#")
                i.icon.icon-vk
            li
              a(href="#")
                i.icon.icon-fb
      .col-xs-4.center-xs
        .header__logo
          img(src="img/Logo.svg", alt="")
      .col-xs-4.end-xs
        .header__phone
          a(href="tel:88001330292") 8 800 133 02 92
          a(href="#").btn.btn--primary Обратная связь
//END header
