- var svgSprite = 'img/sprite.svg'

mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="../img/sprite.svg#icon-" + name)


mixin breadcrumbs(items)
  .breadcrumbs
    .container
      ul
        each item in items
          li
            a(href="#")= item
              i.icon.icon-right-arrow

mixin inro-mask
  svg(width="376px" height="456px" viewBox="0 0 376 456" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    defs
      path(d="M290,205.555556 L290,365 C290,367.761424 287.761424,370 285,370 L5,370 C2.23857625,370 3.38176876e-16,367.761424 0,365 L0,205.555556 C11.6381112,205.555556 21.0726644,196.128056 21.0726644,184.498645 C21.0726644,172.869234 11.6381112,163.441734 3.55271368e-15,163.441734 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L285,0 C287.761424,-5.07265313e-16 290,2.23857625 290,5 L290,163.441734 C278.361889,163.441734 268.927336,172.869234 268.927336,184.498645 C268.927336,196.128056 278.361889,205.555556 290,205.555556 Z" id="path-1")
      filter(x="-25.7%" y="-14.7%" width="151.4%" height="140.3%" filterUnits="objectBoundingBox" id="filter-2")
        <feOffset dx="0" dy="20" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="21.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0.90270795   0 0 0 0 0.911857706   0 0 0 0 0.939306973  0 0 0 0.619225543 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
    g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
      g(id="Главная(life4_soul)" transform="translate(-160.000000, -366.000000)")
        g(id="Форма" transform="translate(203.000000, 389.000000)")
          g(id="Group-2")
            g(id="Combined-Shape")
              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
              use(fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1")
            <path d="M10.5,156.514734 C22.7934852,159.916454 31.5,171.325859 31.5,184.5 C31.5,197.674141 22.7934852,209.083546 10.5,212.485266 L10.5,355 C10.5,357.485281 12.5147186,359.5 15,359.5 L275,359.5 C277.485281,359.5 279.5,357.485281 279.5,355 L279.5,212.188192 C267.705696,208.444814 259.5,197.286834 259.5,184.5 C259.5,171.713166 267.705696,160.555186 279.5,156.811808 L279.5,15 C279.5,12.5147186 277.485281,10.5 275,10.5 L15,10.5 C12.5147186,10.5 10.5,12.5147186 10.5,15 L10.5,156.514734 Z" id="Combined-Shape-Copy-2" stroke="#FAD0DC"></path>
            <circle id="Oval-4-Copy-2" fill="#FFFFFF" cx="5" cy="184" r="5"></circle>
            <circle id="Oval-4-Copy-3" fill="#FFFFFF" cx="285" cy="184" r="5"></circle>

mixin step-2
  svg(width="325px" height="355px" viewBox="0 0 325 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    defs
      <path d="M135,269 C135,260.715729 128.284271,254 120,254 C111.715729,254 105,260.715729 105,269 L5,269 C2.23857625,269 3.38176876e-16,266.761424 0,264 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L234,0 C236.761424,-5.07265313e-16 239,2.23857625 239,5 L239,264 C239,266.761424 236.761424,269 234,269 L135,269 Z" id="path-1"></path>
      filter(x="-31.2%" y="-20.3%" width="162.3%" height="155.4%" filterUnits="objectBoundingBox" id="filter-2")
        <feOffset dx="0" dy="20" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="21.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0.90270795   0 0 0 0 0.911857706   0 0 0 0 0.939306973  0 0 0 0.619225543 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
    g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
      g(id="Оформление.-Шаг-2.(life4_soul)" transform="translate(-881.000000, -322.000000)")
        g(id="Group-2" transform="translate(924.000000, 345.000000)")
          g(id="Combined-Shape")
            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
          <path d="M140.155554,259.5 L225,259.5 C227.485281,259.5 229.5,257.485281 229.5,255 L229.5,13 C229.5,10.5147186 227.485281,8.5 225,8.5 L15,8.5 C12.5147186,8.5 10.5,10.5147186 10.5,13 L10.5,255 C10.5,257.485281 12.5147186,259.5 15,259.5 L99.8444459,259.5 C102.946987,251.161412 110.935367,245.5 120,245.5 C129.064633,245.5 137.053013,251.161412 140.155554,259.5 Z" id="Combined-Shape" stroke="#FAD0DC"></path>
    
mixin step-3
  svg(width="598px" height="603px" viewBox="0 0 598 603" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink").hidden-xs
    defs
      <path d="M282.47126,517 C282.472288,516.903468 282.472803,516.806813 282.472803,516.710037 C282.472803,501.958491 270.502509,490 255.736402,490 C240.970295,490 229,501.958491 229,516.710037 C229,516.806813 229.000515,516.903468 229.001543,517 L5,517 C2.23857625,517 3.38176876e-16,514.761424 0,512 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 L507,0 C509.761424,-5.07265313e-16 512,2.23857625 512,5 L512,512 C512,514.761424 509.761424,517 507,517 L282.47126,517 Z" id="path-2"></path>
      filter(x="-14.6%" y="-10.5%" width="129.1%" height="128.8%" filterUnits="objectBoundingBox2" id="filter-3")
        <feOffset dx="0" dy="20" in="SourceAlpha1" result="shadowOffsetOuter2"></feOffset>
        <feGaussianBlur stdDeviation="21.5" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0.90270795   0 0 0 0 0.911857706   0 0 0 0 0.939306973  0 0 0 0.619225543 0" type="matrix" in="shadowBlurOuter2"></feColorMatrix>
    g(id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
      g(id="Оформление.-Шаг-3.(life4_soul)" transform="translate(-384.000000, -295.000000)")
        g(id="Group-3" transform="translate(427.000000, 318.000000)")
          g(id="Combined-Shape2")
            <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-2"></use>
          <path d="M292.079209,500.5 L491,500.5 C493.485281,500.5 495.5,498.485281 495.5,496 L495.5,21 C495.5,18.5147186 493.485281,16.5 491,16.5 L21,16.5 C18.5147186,16.5 16.5,18.5147186 16.5,21 L16.5,496 C16.5,498.485281 18.5147186,500.5 21,500.5 L220.757154,500.5 C226.14433,485.626575 240.317905,475.5 256.418182,475.5 C272.518459,475.5 286.692033,485.626575 292.079209,500.5 Z" id="Combined-Shape2" stroke="#FAD0DC"></path>

mixin step-3--mobile
  svg(width="320px" height="832px" viewBox="0 0 320 832" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink").hidden-md.hidden-sm
    defs
      path(d="M161.47126,746 C161.472288,745.903468 161.472803,745.806813 161.472803,745.710037 C161.472803,730.958491 149.502509,719 134.736402,719 C119.970295,719 108,730.958491 108,745.710037 C108,745.806813 108.000515,745.903468 108.001543,746 L5,746 C2.23857625,746 3.38176876e-16,743.761424 0,741 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.73506842e-14 5,5.68434189e-14 L265,5.68434189e-14 C267.761424,5.63361535e-14 270,2.23857625 270,5 L270,741 C270,743.761424 267.761424,746 265,746 L161.47126,746 Z" id="path-1")
      filter(x="-27.6%" y="-7.3%" width="155.2%" height="120.0%" filterUnits="objectBoundingBox" id="filter-2")
        feOffset(dx="0" dy="20" in="SourceAlpha" result="shadowOffsetOuter1")
        feGaussianBlur(stdDeviation="21.5" in="shadowOffsetOuter1" result="shadowBlurOuter1")
        feColorMatrix(values="0 0 0 0 0.90270795   0 0 0 0 0.911857706   0 0 0 0 0.939306973  0 0 0 0.619225543 0" type="matrix" in="shadowBlurOuter1")
    g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
      g(id="Оформление-заказа_мобил-Copy-2" transform="translate(0.000000, -287.000000)")
        g(id="Group-2" transform="translate(25.000000, 310.000000)")
          g(id="Combined-Shape")
            use(fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1")
            use(fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1")
          path(d="M171.079209,729.5 L246,729.5 C248.485281,729.5 250.5,727.485281 250.5,725 L250.5,24 C250.5,21.5147186 248.485281,19.5 246,19.5 L24,19.5 C21.5147186,19.5 19.5,21.5147186 19.5,24 L19.5,725 C19.5,727.485281 21.5147186,729.5 24,729.5 L99.7571544,729.5 C105.14433,714.626575 119.317905,704.5 135.418182,704.5 C151.518459,704.5 165.692033,714.626575 171.079209,729.5 Z" id="Combined-Shape" stroke="#FAD0DC")