.icon-bouquet {
  width: 0.74em;
  height: 1em;
  fill: #000;
}
.icon-check-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-down-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-i {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-present {
  width: 1.05em;
  height: 1em;
  fill: #000;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
