section.contacts.hidden-sm.hidden-md
  .container
    .contacts__content
      h2 Контакты
      p Телефон:
      a(href="tel:88001330292") 8 800 133 02 92
      p E-mail:
      a(href="mailto:info@life4soulflowers.ru") info@life4soulflowers.ru
      a(href="#call-order" rel="modal:open").btn.btn--primary.menu-open Обратная связь
      .contacts__social
        h2 мы в соц. сетях
        p Instagram / VK / Facebook:
        ul
          li
            a(href="#")
              i.icon.icon-instagram
          li
            a(href="#")
              i.icon.icon-vk
          li
            a(href="#")
              i.icon.icon-fb