section.info
  .container
    .row.end-xs.middle-xs
      .col-md-2.col-sm-3.col-xs-12.last-xs
        a(href="#video" rel="modal:open").info__video
          i.icon.icon-play
          | Смотреть<br>видео
      .col-md-6.col-sm-9.col-xs-12.last-sm
        h2 Новая неделя. новый букет!
    .info__content
      .row
        .col-md-3.col-sm-6.col-xs-12
          .info__block
            .info__block__content
              p.hidden-xs Авторские<br>букеты
              p.hidden-sm.hidden-md Авторские букеты -
                span индивидуально составленные цветочные композиции
              .hidden-xs.i
                i.icon.icon-i
              .info__block__details.details
                .info__block__details__text
                  p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
        .col-md-3.col-sm-6.col-xs-12
          .info__block
            .info__block__content
              p.hidden-xs Бесплатная<br>доставка
              p.hidden-sm.hidden-md Бесплатная доставка -
                span в пределах МКАД и г. Химки по выходным дням 4 раза в месяц
              .hidden-xs.i
                i.icon.icon-i
              .info__block__details.details
                .info__block__details__text
                  p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
        .col-md-3.col-sm-6.col-xs-12
          .info__block
            .info__block__content
              p.hidden-xs Редкие свежие<br>цветы
              p.hidden-sm.hidden-md При составлении композиции
                span используются сезонные, редкие экзотические, фермерские цветы
              .hidden-xs.i
                i.icon.icon-i
              .info__block__details.details
                .info__block__details__text
                  p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
        .col-md-3.col-sm-6.col-xs-12
          .info__block
            .info__block__content.info__block__content--secondary
              p.hidden-xs Подарочные<br>сертификаты
              p.hidden-sm.hidden-md Подарочные сертификаты - 
                span на Цветы по подписке номиналом 1 или 3 месяца
              .i
                i.icon.icon-i
              .info__block__details.details
                .info__block__details__img
                  img(src="http://via.placeholder.com/100x100", alt="")
                .info__block__details__text
                  p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
                  a(href="#").btn.btn--secondary Оформить сертификат
              a(href="#").btn.btn--secondary.hidden-sm.hidden-md Оформить сертификат