section.info
  .container
    .row.end-xs.middle-xs
      .col-xs-2
        a(href="#").info__video
          i.icon.icon-play
          | Смотреть видео
      .col-xs-6
        h2 Новая неделя. новый букет!
    .info__content
      .row
        .col-xs-3
          .info__block
            .info__block__content
              p Авторские<br>букеты
              a(href="#")
                i.icon.icon-i
            .info__block__details.details
              .info__block__details__img
                img(src="http://via.placeholder.com/100x100", alt="")
              .info__block__details__text
                p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
                a(href="#step-1" rel="modal:open").btn.btn--secondary Оформить сертификат
        .col-xs-3
          .info__block
            .info__block__content
              p Бесплатная<br>доставка
              a(href="#")
                i.icon.icon-i
            .info__block__details.details
              .info__block__details__img
                img(src="http://via.placeholder.com/100x100", alt="")
              .info__block__details__text
                p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
                a(href="#step-1" rel="modal:open").btn.btn--secondary Оформить сертификат
        .col-xs-3
          .info__block
            .info__block__content
              p Редкие свежие<br>цветы
              a(href="#")
                i.icon.icon-i
            .info__block__details.details
              .info__block__details__img
                img(src="http://via.placeholder.com/100x100", alt="")
              .info__block__details__text
                p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
                a(href="#step-1" rel="modal:open").btn.btn--secondary Оформить сертификат
        .col-xs-3
          .info__block
            .info__block__content
              p Подарочные<br>сертификаты
              a(href="#")
                i.icon.icon-i
            .info__block__details.details
              .info__block__details__img
                img(src="http://via.placeholder.com/100x100", alt="")
              .info__block__details__text
                p Подарочные сертификаты - на Цветы по подписке номиналом 1 или 3 месяца
                a(href="#step-1" rel="modal:open").btn.btn--secondary Оформить сертификат