.header
  height: 140px
  background: $white
  z-index: 10
  position: relative
  +r(767)
    height: 80px
    z-index: 999
  &.active
    height: 110px
  .container-fluid
    padding: 0
  .menu-open
    height: 25px
    width: 30px
    position: absolute
    top: 20px
    right: 25px
    +center
    span
      display: block
      width: 30px
      height: 2px
      background: $pale-rose
      border-radius: 2px
      position: relative
      +tr
      &:before, &:after
        content: ''
        position: absolute
        left: 0
        width: 30px
        height: 2px
        background: $pale-rose
        border-radius: 2px
        transition: all 0.6s
        top: -8px
      &:after
        width: 20px
        bottom: -8px
        top: auto
    &.active
      right: 40px
      span
        width: 0
        &:before
          transform: rotate(225deg)
          right: 0
          top: 0
          background: $cool-grey-two
          height: 4px
        &:after
          transform: rotate(-225deg)
          width: 30px
          left: 0
          top: 0
          background: $cool-grey-two
          height: 4px
  &__social
    ul
      display: flex
      a
        width: 50px
        height: 50px
        border: solid 1px #fad0dc
        border-radius: 100%
        +center
        margin-right: 10px
        i
          font-size: 18px
          color: $pale-rose
          +tr
        &:hover
          background: $pale-rose
          i
            color: $white
  &__logo
    height: 200px
    width: 270px
    background: $white
    border-radius: 100%
    +center
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%)
    +r(767)
      height: 110px
      width: 180px
    img
      position: relative
      top: -15px
      +r(767)
        width: 90px
        top: -5px
  &__phone
    +center-column
    width: 165px
    position: relative
    left: 100%
    transform: translate(-100%)
    a:first-child
      font-size: 18px
      font-weight: 500
      color: $greyish-brown
      margin-bottom: 10px